body {
    background-image: url("../assets/stars1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    font-style: oblique;
    animation: textAnimation 1.5s linear infinite;

}

.bookmark-rob{
    position: absolute;
    right: -1%;
    width: 20%;
    transform: translatex(0%);
    border-radius: 10px;
    background: linear-gradient(to left, gray, black);
    transition: transform 0.5s 0.085s ease-in-out;
}

.bookmark-bar{
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 50%;
    top: 0%;
    display: none;
    transform: translateX(200%);
    z-index: 1;
    transition: transform 0.5s 0.085s ease-in-out, display 0.1s 0.1s ease-in-out;
}

a{
    text-decoration: none;
    color: white;
}
.site-icon {
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s 0.2s ease-in-out;
}
.xBtn{
    position: absolute;
    top: 1%;
    right: 3%;
    transition: all 0.2s ease-in-out;

}

.xBtn:hover{
    color: white!important;
    box-shadow: 2px 2px 15px gray;
    transform: scale(1.05);
}

.site-icon:hover {
    background-color: hsl(210, 11%, 25%);
    box-shadow: 2px 2px 15px gray;
    transform: scale(1.05);
}

.add-icon {
    width: 40px;
    height: 40px;
}

#ipBox {
    background-image: url("../assets/moon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 12px 12px 35px hsl(0, 0%, 70%);
    position: absolute;
    top: 40%;
    left: 25%;
    max-width: 40%;
    min-width: 50%;
    min-height: 50%;
    max-height: 55%;
}
p{
    overflow-y: hidden;
}

@keyframes textAnimation {
    0% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 25%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    10% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: linear-gradient(to right, hsl(240, 100%, 60%), hsl(0, 100%, 50%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: linear-gradient(to right, hsl(310, 100%, 25%), hsl(240, 100%, 40%), hsl(0, 100%, 30%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(310, 100%, 45%), hsl(240, 100%, 60%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 35%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: linear-gradient(to right, hsl(0, 100%, 30%), hsl(310, 100%, 25%), hsl(240, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to right, hsl(240, 100%, 60%), hsl(0, 100%, 50%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    90% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 25%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(310, 100%, 35%), hsl(240, 100%, 60%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 45%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 40%), hsl(0, 100%, 30%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: linear-gradient(to right, hsl(310, 100%, 25%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 60%), hsl(0, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 25%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
