body {
    background-image: url("../assets/stars1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    font-style: oblique;
    animation: textAnimation 1.5s linear infinite;

}

.bookmark-rob{
    position: absolute;
    right: -1%;
    width: 20%;
    transform: translatex(0%);
    border-radius: 10px;
    background: linear-gradient(to left, gray, black);
    transition: transform 0.5s 0.085s ease-in-out;
}

.bookmark-bar{
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 50%;
    top: 0%;
    display: none;
    transform: translateX(200%);
    z-index: 1;
    transition: transform 0.5s 0.085s ease-in-out, display 0.1s 0.1s ease-in-out;
}

a{
    text-decoration: none;
    color: white;
}
.site-icon {
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s 0.2s ease-in-out;
}
.xBtn{
    position: absolute;
    top: 1%;
    right: 3%;
    transition: all 0.2s ease-in-out;

}

.xBtn:hover{
    color: white!important;
    box-shadow: 2px 2px 15px gray;
    transform: scale(1.05);
}

.site-icon:hover {
    background-color: hsl(210, 11%, 25%);
    box-shadow: 2px 2px 15px gray;
    transform: scale(1.05);
}

.add-icon {
    width: 40px;
    height: 40px;
}

#ipBox {
    background-image: url("../assets/moon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 12px 12px 35px hsl(0, 0%, 70%);
    position: absolute;
    top: 40%;
    left: 25%;
    max-width: 40%;
    min-width: 50%;
    min-height: 50%;
    max-height: 55%;
}
p{
    overflow-y: hidden;
}
/* 
.floating-body{
=======

/*.floating-body{
    position: absolute;
    font-size: 5rem;
    color: rgba(250, 235, 215, 0.534);
    z-index: -1;
}
.astronaut{
    transform: translate(2500%, -500%);
    animation: floating 20s 4s linear infinite;

}

.rocket{
    transform: translate(2200%, -250%);
    animation: floating 20s 5s linear infinite;


 animations 
@keyframes floating{
    0% {
        transform: translate(calc(2000% - 0%), calc(-500%));
    }
    2% {
        transform: translate(calc(2000% - 50%), calc(-500% + 5%));
    }
    4% {
        transform: translate(calc(2000% - 100%), calc(-500% - 5%));
    }
    6% {
        transform: translate(calc(2000% - 150%), calc(-500% + 5%));
    }
    8% {
        transform: translate(calc(2000% - 200%), calc(-500% - 5%));
    }
    10% {
        transform: translate(calc(2000% - 250%), calc(-500% + 5%));
    }
    12% {
        transform: translate(calc(2000% - 300%), calc(-500% - 5%));
    }
    14% {
        transform: translate(calc(2000% - 350%), calc(-500% + 5%));
    }
    16% {
        transform: translate(calc(2000% - 400%), calc(-500% - 5%));
    }
    18% {
        transform: translate(calc(2000% - 450%), calc(-500% + 5%));
    }
    20% {
        transform: translate(calc(2000% - 500%), calc(-500% - 5%));
    }
    22% {
        transform: translate(calc(2000% - 550%), calc(-500% + 5%));
    }
    24% {
        transform: translate(calc(2000% - 600%), calc(-500% - 5%));
    }
    26% {
        transform: translate(calc(2000% - 650%), calc(-500% + 5%));
    }
    28% {
        transform: translate(calc(2000% - 700%), calc(-500% - 5%));
    }
    30% {
        transform: translate(calc(2000% - 750%), calc(-500% + 5%));
    }
    32% {
        transform: translate(calc(2000% - 800%), calc(-500% - 5%));
    }
    34% {
        transform: translate(calc(2000% - 850%), calc(-500% + 5%));
    }
    36% {
        transform: translate(calc(2000% - 900%), calc(-500% - 5%));
    }
    38% {
        transform: translate(calc(2000% - 950%), calc(-500% + 5%));
    }
    40% {
        transform: translate(calc(2000% - 1000%), calc(-500% - 5%));
    }
    42% {
        transform: translate(calc(2000% - 1050%), calc(-500% + 5%));
    }
    44% {
        transform: translate(calc(2000% - 1100%), calc(-500% - 5%));
    }
    46% {
        transform: translate(calc(2000% - 1150%), calc(-500% + 5%));
    }
    48% {
        transform: translate(calc(2000% - 1200%), calc(-500% - 5%));
    }
    50% {
        transform: translate(calc(2000% - 1250%), calc(-500% + 5%));
    }
    52% {
        transform: translate(calc(2000% - 1300%), calc(-500% - 5%));
    }
    54% {
        transform: translate(calc(2000% - 1350%), calc(-500% + 5%));
    }
    56% {
        transform: translate(calc(2000% - 1400%), calc(-500% - 5%));
    }
    58% {
        transform: translate(calc(2000% - 1450%), calc(-500% + 5%));
    }
    60% {
        transform: translate(calc(2000% - 1500%), calc(-500% - 5%));
    }
    62% {
        transform: translate(calc(2000% - 1550%), calc(-500% + 5%));
    }
    64% {
        transform: translate(calc(2000% - 1600%), calc(-500% - 5%));
    }
    66% {
        transform: translate(calc(2000% - 1650%), calc(-500% + 5%));
    }
    68% {
        transform: translate(calc(2000% - 1700%), calc(-500% - 5%));
    }
    70% {
        transform: translate(calc(2000% - 1750%), calc(-500% + 5%));
    }
    72% {
        transform: translate(calc(2000% - 1800%), calc(-500% - 5%));
    }
    74% {
        transform: translate(calc(2000% - 1850%), calc(-500% + 5%));
    }
    76% {
        transform: translate(calc(2000% - 1900%), calc(-500% - 5%));
    }
    78% {
        transform: translate(calc(2000% - 1950%), calc(-500% + 5%));
    }
    80% {
        transform: translate(calc(2000% - 2000%), calc(-500% - 5%));
    }
    82% {
        transform: translate(calc(2000% - 2050%), calc(-500% + 5%));
    }
    84% {
        transform: translate(calc(2000% - 2100%), calc(-500% - 5%));
    }
    86% {
        transform: translate(calc(2000% - 2150%), calc(-500% + 5%));
    }
    88% {
        transform: translate(calc(2000% - 2200%), calc(-500% - 5%));
    }
    90% {
        transform: translate(calc(2000% - 2250%), calc(-500% + 5%));
    }
    92% {
        transform: translate(calc(2000% - 2300%), calc(-500% - 5%));
    }
    94% {
        transform: translate(calc(2000% - 2350%), calc(-500% + 5%));
    }
    96% {
        transform: translate(calc(2000% - 2400%), calc(-500% - 5%));
    }
    98% {
        transform: translate(calc(2000% - 2450%), calc(-500% + 5%));
    }
    100% {
        transform: translate(calc(2000% - 2500%), calc(-500%));
    }
}
 */
@keyframes textAnimation {
    0% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 25%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    10% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: linear-gradient(to right, hsl(240, 100%, 60%), hsl(0, 100%, 50%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: linear-gradient(to right, hsl(310, 100%, 25%), hsl(240, 100%, 40%), hsl(0, 100%, 30%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(310, 100%, 45%), hsl(240, 100%, 60%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 35%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: linear-gradient(to right, hsl(0, 100%, 30%), hsl(310, 100%, 25%), hsl(240, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to right, hsl(240, 100%, 60%), hsl(0, 100%, 50%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    90% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 25%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(310, 100%, 35%), hsl(240, 100%, 60%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(310, 100%, 45%), hsl(240, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 40%), hsl(0, 100%, 30%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: linear-gradient(to right, hsl(310, 100%, 25%), hsl(240, 100%, 50%), hsl(0, 100%, 40%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: linear-gradient(to right, hsl(310, 100%, 35%), hsl(240, 100%, 60%), hsl(0, 100%, 50%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 45%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: linear-gradient(to right, hsl(240, 100%, 40%), hsl(0, 100%, 30%), hsl(310, 100%, 35%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0% {
        background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 100%, 40%), hsl(310, 100%, 25%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
